
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon_object in total_order %}
        <tr>
            <td>{{ melon_object.melon_id }}</td>
            <td>{{ melon_object.quantity }}</td>
            <td>{{ melon_object.price }}</td>
            <td>{{ melon_object.total }}</td>
        </tr>
            {% endfor %}
       
        </tbody>
    </table>

    <h3>Total: ${{ total_cost }} </h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
